[user]
	name = voldikss
	email = dyzplus@gmail.com
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    type = cat-file -t
    dump = cat-file -p
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(cyan)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[credential]
	helper = cache
[core]
    editor = nvim
    filemode = false
    # onlu for Windows
    # autocrlf = true
[color]
	ui = auto
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[gpg]
	program = gpg
[github]
    user = voldikss
