# Local-only / generated
# ----------------------------------------------------------------------------
private/
.claude/

*.add.spl
packages/nvim/.config/coc/extensions/
packages/nvim/.config/coc/memos.json
packages/nvim/.config/nvim/plugged/
packages/nvim/.config/nvim/sessions/

# General
# ----------------------------------------------------------------------------
*.o
*.out

# log
*.log

# cache
*.cache
cache/
/cache

# Windows
# ----------------------------------------------------------------------------
Thumbs.db
Desktop.ini

# Tags
# -----------------------------------------------------------------------------
TAGS
!TAGS/
tags
tags-cn
!tags/
.tags
.tags1
gtags.files
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out

# Vim
# ------------------------------------------------------------------------------
*.sw[a-p]
*.un~
Session.vim
.netrwhist
*~

# Test % Tmp
# -------------------------------------------------------------------------------
test.*
tmp.*
temp.*

# JavaScript
# -------------------------------------------------------------------------------
node_modules

# Python
# -------------------------------------------------------------------------------
*.pyc
.idea/
/.idea
build/
__pycache__
