# vim:ft=bash
# 简单的自定义命令

docker_find_child_images_by_parent_id() {
    if [[ $1 == "h" || $1 == "help" ]]; then
        echo "列出所有在指定 image 之后创建的 image 的父 image"
        return 0
    fi
    if [[ $1 == "" ]]; then
        echo "Usage: docker_find_child_images_by_parent_id <image id>"
        return 0
    fi
    docker image inspect --format='{{.RepoTags}} {{.Id}} {{.Parent}}' $(docker image ls -q --filter since=$1)
}

install_k3s() {
    sudo mkdir -p /var/lib/rancher/k3s/agent/images/
    withproxy curl -L -o k3s-airgap-images-amd64.tar.zst "https://github.com/k3s-io/k3s/releases/download/v1.35.0%2Bk3s1/k3s-airgap-images-amd64.tar.zst"
    sudo cp k3s-airgap-images-amd64.tar.zst /var/lib/rancher/k3s/agent/images/
    cat <<EOF>/etc/rancher/k3s/registry.yaml
mirrors:
  docker.io:
    endpoint:
      - "https://docker.1ms.run"
EOF
    sudo chmod 644 /etc/rancher/k3s/registry.yaml
    curl -sfL https://rancher-mirror.rancher.cn/k3s/k3s-install.sh | INSTALL_K3S_MIRROR=cn INSTALL_K3S_SKIP_DOWNLOAD=true INSTALL_K3S_SKIP_DOWNLOAD=true INSTALL_K3S_EXEC="server --node-ip=127.0.0.1 --advertise-address=127.0.0.1 --tls-san=127.0.0.1" sh -
    cat <<EOF>/etc/systemd/system/k3s.service.env
CONTAINERD_HTTP_PROXY=http://127.0.0.1:1081
CONTAINERD_HTTPS_PROXY=http://127.0.0.1:1081
CONTAINERD_NO_PROXY=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
EOF
    cat <<EOF>/etc/rancher/k3s/registries.yaml
mirrors:
  docker.io:
    endpoint:
      - "https://docker.1ms.run"
      - "https://docker.1ms.run"
      - "https://docker.kejilion.pro"
      - "https://docker.m.ixdev.cn"
      - "https://hub.mirrorify.net"
      - "https://2a6bf1988cb6428c877f723ec7530dbc.mirror.swr.myhuaweicloud.com"
      - "https://d.yydy.link:2023"
      - "https://hub3.nat.tf"
      - "https://docker.etcd.fun"
      - "https://dockerproxy.net"
      - "https://hub2.nat.tf"
  ghcr.io:
    endpoint:
      - "https://ghcr.nju.edu.cn"
      - "https://ghcr.linkos.org"
EOF
    sudo cp /etc/rancher/k3s/k3s.yaml ~/.kube/config
    sudo chmod -R 644 $HOME/.kube/config
    rm -f k3s-airgap-images-amd64.tar.zst
}

uninstall_k3s() {
    k3s-uninstall.sh
    sudo rm -rf /etc/rancher/k3s /var/lib/rancher/k3s
}
