registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node
profiler_binary_host_mirror=http://npmmirror.com/mirrors/node-inspector/
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents
fsevents_binary_host_mirror=https://npmmirror.com/mirrors/fsevents
store-dir=/home/alan/pnpm-store
strict-ssl=false
update-notifier=false
