[Desktop Entry]
Name=Android Studio
Comment=Android Studio
Exec="/home/clouduan/android-studio/bin/studio.sh" %f
Icon=/home/clouduan/android-studio/bin/studio.svg
Terminal=false
Type=Application
Categories=Development;IDE;
StartupWMClass=studio
OnlyShowIn=Old
