[Desktop Entry]
Name=Goland
Comment=Go IDE
Exec="/home/clouduan/GoLand-2018.1.5/bin/goland.sh" %f
Icon=/home/clouduan/GoLand-2018.1.5/bin/goland.svg
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
OnlyShowIn=Old
