[Desktop Entry]
Type=Application
Name=Goland
Comment=Goland
Exec=/home/alan/Apps/GoLand-2021.3.3/bin/goland.sh
Icon=/home/alan/Apps/GoLand-2021.3.3/bin/goland.svg
Terminal=false
StartupNotify=true
Categories=Development;IDE;
