[Desktop Entry]
Type=Application
Name=Postman
Comment=Postman
Exec=$HOME/Apps/Postman/Postman
Icon=$HOME/Apps/Postman/app/resources/app/assets/icon.png
Terminal=false
StartupNotify=true
Categories=Development;
